body {
    margin: 0px;
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 0px;
}

#navigation-inside {
    width: 600px;
    margin: 0 auto;
}

#navigation-inside ul {
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navigation-inside li {
    width: 25%;
    float: left;
}

a {
    color: #333;
    text-decoration: none;
}

a:active, a:hover {
    color: #1998E2;
}

.active {
    color: #1998E2;
    font-weight: bold;
}

#header {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#header img {
    width: 100%;
    height: auto;
}

#profile {
    width: 100px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
    top: 60px;
}

#profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: white;
    overflow: hidden;
}

#profile-image img {
    width: 100%;
    height: auto;
}

#profile h2 {
    color: white;
    text-align: center;
    font-size: 14px;
}

#introduction {
    width: 600px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    margin: 20px auto;
    border-radius: 10px;
}

#tables {
    width: 600px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    margin: 20px auto;
    border-radius: 10px;
}

.section {
    width: 600px;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    margin: 20px auto;
    border-radius: 10px;
}

.example {
    padding: 10px;
    background: #fcfcfc;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    border: 1px solid #ccc;
}

.code-show-button {
    display: block;
    margin: 20px auto 0px;
    padding: 10px 20px;
    border-radius: 3px;
    background: #1998E2;
    color: white;
    font-size: 14px;
}

.code-show-button:hover {
    background: #1998E2;
    cursor: pointer;
}

#quick-menu {
    position: fixed;
    left: 20px;
    top: 60px;
    width: 200px;
    height: auto;
    background: white;
    padding: 20px 10px;
    z-index: 2;
}

#quick-menu h3 {
    margin-top: 0px;
    text-align: center;
    color: #333;
    font-size: 18px;
}

.example_code {
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top 20px
}

form, input[type=text], input[type=submit] {
    width: 300px;
    margin: 5px auto;
    padding: 10px;
}

div {
    box-sizing: border-box;
}
